
/* Globals 
------------------------------------------------------------------- */
a{
    text-decoration: none;
}

/* unvisited link */
a:link, a:visited {
    color: black;
}

/* mouse over link */
a:hover, a:active{
    color: red;
}

/* Google Icons 
------------------------------------------------------------------- */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
/* Basic 
------------------------------------------------------------------- */
body {
font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: oblique;
}

h1 {
font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 38px;
}
h2 {
font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

h3 {
font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 24px;
}

h4 {
font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

p {
font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 12px;
}

/* Wrappers
------------------------------------------------------------------- */

#header-wrapper {
    background: rgba(255, 255, 255, 0.92);
    height: 60px;
    left: 0;
    line-height: 50px;    
    position: fixed; /* keeps menu following you */
    right: 0;
    top: 0;
    z-index: 998;
    padding: 10px 10px 10px;
    padding-top: 10px;
    padding-bottom: 13px;
}
#hero-wrapper {
    background-color: #dee9f1;
    margin: 80px 0 0;
}

#sub-hero-wrapper {
    padding: 70px 0 0;
}


#content-wrapper {
    background-color: #dee9f1;
    padding-top: 80px;
}

#footer-wrapper {
    background-color: black;
    color: black;
    
}

/* Nav Bar
------------------------------------------------------------------- */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    
}

.active {
    background-color: #4CAF50;
}

/* Image
------------------------------------------------------------------- */

div.image_banner {
    padding-top: 80px;
   content:url(files/titlebanner.jpg);
    width: 100%;
    opacity: .25;
}

i{
    padding-top: 10px;
    padding-bottom: 10px ;
    padding-left: 10px;
    padding-right: 10px;
    
}
/* Footer
------------------------------------------------------------------- */

.footer-distributed{
    background-color: 	#0e1111;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
    color: #dee9f1;
	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 32%;
}


/* Footer Center */

.footer-distributed .footer-center{
    padding-right: 35px;
    padding-left: 25px;
	width: 32%;
}

.footer-distributed  i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 300%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}



.footer-distributed .footer-icons{
	margin-top: 25px;
}
